// File to JS
// Copyright (c) 2020-2025 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2020-2025 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/FileToJS/Library.rh>
#include <XYO/FileToJS/Copyright.rh>
#include <XYO/FileToJS/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_FILETOJS,"xyo-file-to-cs.dll","FileToJS - Convert file to C/C++ source")
